* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 90px;
    cursor: pointer;
    background-color: rgb(218, 190, 154);
    border-bottom: 12px solid burlywood;;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    gap: 70px;
    letter-spacing: 3px;
  }

  .header ul li {
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
    font-size: 17px;
  }

  .header ul li:hover {
    font-size: 20px;
    color: white;
    text-decoration: underline white;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: 15px 80px;
    gap: 5px;
  }

  .content-img img {
    margin-top: 10px;
    width: 200px;
    border: 4px solid burlywood;
    border-radius: 8px;
    text-align: center;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    gap: 5px;
  }

  .content-text h1 {
    font-size: 60px;
    color: rgb(185, 139, 77);
  }
  